extends layout

block content
    .primary-container-hero
        .hero-card.hc-short
            .hero-text.about-txt
                h1.hero.white About us
                h4.hero.white Yeah, we each work hard to bring you a great product. But more importantly, we work hard together.
            .hero-image
                img.about-img(src='images/aboutus-header.png')

    .primary-container
        .centered
            img.flex(src=imgpath + "aboutus-team.png")

        .container
            br
            br
            .row
                .col-md-6  
                    p.
                        The three of us have worked together in teams (ranging from 3 to over 40 teammates) for the past two years, and noticed how culture changes when teams change and grow. With this in mind, we started Skipper as a simple research project. Our personal investment in the problem space grew as questions about diversity and inclusion in tech sprang up this year. 
                .col-md-6
                    p.
                        We’ve since developed Skipper into a full-fledged product that helps you identify people management problems to solve more effectively with access to data. As a small, flexible team, we're excited to work closely with you to create a product that seamlessly integrates itself into your organization.

            br
            br
            h1.hero.centered Our Team
            .row.people
                .col-md-4  
                    img.people-img.flex(src=imgpath + "aboutus-landon.png")
                    p Tech Lead
                    h1.centered Landon Brand
                    .social-links.centered
                        a(href='mailto:landon@skipper.ai' target="_blank") 
                            img(src=imgpath + "social-email.png")
                        a(href='https://www.linkedin.com/in/landonbrand/' target="_blank") 
                            img(src=imgpath + "social-linkedin.png")

                .col-md-4
                    img.people-img.flex(src=imgpath + "aboutus-mimi.png")
                    p Product Design
                    h1.centered Mimi Tran Zambetti
                    .social-links.centered
                        a(href='mailto:mimi@skipper.ai' target="_blank") 
                            img(src=imgpath + "social-email.png")
                        a(href='https://www.linkedin.com/in/mimitranzambetti/' target="_blank") 
                            img(src=imgpath + "social-linkedin.png")

                .col-md-4  
                    img.people-img.flex(src=imgpath + "aboutus-ben.png")
                    p Product & Business Dev
                    h1.centered Ben Stanfield
                    .social-links.centered
                        a(href='mailto:ben@skipper.ai' target="_blank") 
                            img(src=imgpath + "social-email.png")
                        a(href='https://www.linkedin.com/in/meetben/' target="_blank") 
                            img(src=imgpath + "social-linkedin.png")

            br
            br
            h1.hero.centered Our Philosophy on Inclusivity            
            .middle
                p. 
                    We’re people first. We cherish the rich and intersectional narratives that our users bring to the table, and strive to create an inclusive product to suit their diverse needs. We understand the moral imperatives and bottom line arguments for more diverse and inclusive teams, and we believe that by helping these teams foster a wider range of perspectives, they’ll be able to deliver better products and services. As a team, we bring a diversity of experiences to our work and strive to bring a diversity of backgrounds to our team as we grow. 

                

