extends layout

block content
  script.
    var $ = require('jquery');
    $(document).scroll(function() {
    var y = $(this).scrollTop();
    if (y > 100) {
      $('#prim').fadeIn();
      $('#one').fadeIn();
      $('#two').fadeIn();
      $('#three').fadeIn();
      $('#four').fadeIn();
    } else {
      $('#prim').fadeOut();
      $('#one').fadeOut().delay(200);
      $('#two').fadeOut().delay(300);
      $('#three').fadeOut().delay(400);
    }
    });

  .primary-container-hero
    .hero-card
      .hero-text
        h1.hero.white Measure engagement instantly.
        h4.hero.white Skipper shows people operations teams how they can maximize engagement, productivity, and wellbeing for their company without having to send a single survey.
        a.hero-button(href='beta.html') Request Demo
      .hero-image
        img.flex(src=imgpath + 'home-hero.png')
        
    .primary-container.centered
      h1.hero Make data driven decisions about culture.
      h4 People managers use Skipper's initiative dashboard in instances like: estimating the impact of office lunches on well being and productivity or deciding which benefits package has the best return on investment.

      br
      br
      br
      br
      
      .container.moat
        .row.show
          .col-md-9
            img.large.shadow#prim(src=imgpath + "home-demo.png")
          .col-md-3
            .card.child.shadow#one
              h1 Customized goals
              h4 Set goals for new HR and people operations initiatives so you can measure how effective they are in your own terms.

            .card.child.shadow#two
              h1 Measure Success
              h4 See how management decisions, policy changes, and benefits affect employee engagement.

            .card.child.shadow#three
              h1 Actionable Advice
              h4 Learn which groups within your company are disengaging, and see advice on how to re-engage them.

        img.large.shadow.hide(src=imgpath + "home-demo.png")
        .row.hide
          .demo.col-md-6
            .card.child.shadow
              h1 Customized goals
              h4 Set goals for new HR and people operations initiatives so you can measure how effective they are in your own terms.
          .demo.col-md-6
            .card.child.shadow
              h1 Straight to PowerPoint
              h4 Generate reports automatically so the executive team can get a pulse on how employees are doing as often as they like.

        .row.hide
          .col-md-6
            .card.child.shadow
              h1 Measure Success
              h4 See how management decisions, policy changes, and benefits affect employee engagement.
          .col-md-6
            .card.child.shadow
              h1 Actionable Advice
              h4 Learn which groups within your company are disengaging, and see advice on how to re-engage them.

  .primary-container.centered
      .row

        .col-md-6.hide
          img.medium(src=imgpath + "home-features-3.png")
        br
        br

        .col-md-6
          br
          h1.hero How it works
          h4 Skipper pulls data from platforms like Slack, Asana, Salesforce, GitHub, and more to track engagement. To get even more detailed insights, Skipper lets you easily send out pulse surveys to specific groups of employees who you want to hear from.
          
        .col-md-6.moat.show
          img.medium#hiw(src=imgpath + "home-features-3.png")
      br

  .background-blue.full-width-bg.no-bottom-margin#getstarted
    .primary-container
      .seller.centered
        h1.hero.white Get Started
        h4.white Let our team of people analytics experts show you how you can increase employee engagement in your company.
        br
        br
        a.hero-button(href='beta.html') Request Demo
        br
        a.hero-button(src=imgpath + "skipper-imgur.png" style="display: none;") Hidden
      
  .background-dark-blue.full-width-bg.no-top-margin
    .primary-container(style="max-width: 750px;")
      h1.research-txt.white Results, anchored in research.
      h4.research-txt.white.narrow Our product builds on years of research done at world class institutions like Stanford, USC, Google, and more. We’ve included some of the foundational papers informing our findings below.
    img.full(src='images/home-research-header.png' style='margin-bottom: -10px;')
  .background-sand.full-width-bg.no-bottom-margin#blanket
    .primary-container#fader
      +article(
      'https://www.cs.cmu.edu/~ylataus/files/TausczikPennebaker2010.pdf',
      'Journal of Language and Social Psychology', 
      'The Psychological Meaning of Words: LIWC and Computerized Text Analysis Methods', 
      'Yla R. Tausczik and James W. Pennebaker', 
      'This paper explains Linguistic Inquiry and Word Count, a text analysis program that counts words in psychologically meaningful categories. LIWC can detect attentional focus, emotionality, social relationships, thinking styles, and individual differences.'
      )

      +article(
      'https://www.ncbi.nlm.nih.gov/pubmed/28364281',
      'Behavior Research Methods Journal', 
      'Distributed Dictionary Representation: Combining expert knowledge and large scale textual data content analysis', 
      'by J. Garten, J. Hoover, K.M. Johnson, R. Boghrati, C. Iskiwitch, and M. Dehghani', 
      'This paper introduces DDR, a text analysis method that uses semantic similarity instead of word count like LIWC. DDR is able to measure similarity between bodies of text, and is complementary to word count methods.'
      )

      +article(
      'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC122977/',
      'Proceedings of the National Academy of Sciences of the United States of America', 
      'Community structure in social and biological networks', 
      'by M. Girvan and M.E.J. Newman', 
      'This paper details a method to detect community structures made up of “nodes” or individuals joined either in tightly knit groups or by looser connections.'
      )      



          

 
