extends layout

block content
  .primary-container-hero
    .hero-card
      .hero-text
        h1.hero.white Navigate and improve inclusion in your workplace.
        h4.hero.white Skipper is the easiest way to quantitatively measure unconscious bias and engagement in teams.
        a.hero-button(href='beta.html') Try Skipper
      .hero-image
        img.flex(src=imgpath + 'home-hero.png')

    .container.moat
      .row
        .col-md-4
          a(href='index.html#features')
            .card.centered
              .tape
                img(src=imgpath + 'home-yellowtape.png')
              h2 Features
              h4 Insights and recommendations are delivered with analytics.
              .card-icon
                img(src=imgpath + "home-bottle.png")
        
        .col-md-4
          a(href='beta.html' target="_blank")
            .card.centered
              .tape
                img(src=imgpath + "home-yellowtape.png")
              h2 Get Started
              h4 Ready to take your people management to the next level? Join our beta.
              .card-icon
                img(src=imgpath + "home-compass.png")

        .col-md-4
          a(href='index.html#research')
            .card.centered
              .tape
                  img(src=imgpath + "home-yellowtape.png")
              h2 Research
              h4 Our tech is anchored in social psychology and machine learning research.
              .card-icon
                img(src=imgpath + "home-anchor.png")

  .background-blue.full-width-bg.centered
    .primary-container
      h1.hero.white Make data driven decisions about culture.
      h4.white Skipper’s web app helps you create a more inclusive workplace by showing you how people management decisions affect productivity, mood, and engagement across your company. 
      img.large(src=imgpath + "home-demo.png")

  .primary-container#features
    .container
      .row.moat
        .centered.child-width.display-hide
            img.medium(src=imgpath + "home-features-1.png")
        .col-md-6
          .feature-text
            h1 Measure what matters.
            h4 Analyze how compensation, benefits, and employee development initiatives impact your team’s productivity and well being over time.
        .col-md-6
          .centered.child-width.float-right
            img.medium(src=imgpath + "home-features-1.png")
      
      .row.moat
        .col-md-6
          .centered.child-width.float-left
            img.medium(src=imgpath + "home-features-2.png")
        .col-md-6
          .feature-text
            h1 Make sense of the numbers.
            h4 Get quick explanations about how we calculate the numbers, what they mean, and why they matter.

      .row.moat
        .centered.child-width.display-hide
            img.medium(src=imgpath + "home-features-3.png")
        .col-md-6
          .feature-text
            h1 Culture, visualized.
            h4 Skipper works for task management tools, HR software, and messaging platforms like Slack, Gmail and other exportable platforms.
        .col-md-6
          .centered.child-width.float-right
            img.medium(src=imgpath + "home-features-3.png")

      .row.moat
        .col-md-6
          .centered.child-width.float-left
            img.small(src=imgpath + "home-features-4.png")
        .col-md-6
          .feature-text
            h1 No hassle collecting data.
            h4 No nagging your team to fill out pulse surveys. Data is collected and analyzed in the background so you can focus on making an impact.

      .row.moat
        .centered.child-width.display-hide
            img.small(src=imgpath + "home-features-5.png")
        .col-md-6
          .feature-text
            h1 Your privacy is important.
            h4 We understand that data collection can sound scary. Check out our privacy policy to understand exactly when and how we use your data.
            br
            br
            a.button(href='privacy.html') Privacy Policy
        .col-md-6
          .centered.child-width.float-right
            img.small(src=imgpath + "home-features-5.png")


  .background-dark-blue.full-width-bg#research
    .primary-container(style="max-width: 750px;")
      h1(style='max-width: 600px; float:left; margin-top: 40px;').white Results, anchored in research.
      h4(style='max-width: 600px; float:left; margin-bottom: -40px;').white.narrow We’ve included some of the foundational papers informing our findings here. If you’re interested in a specific area of our tech, feel free to contact us for the research that we’ve developed it from.
    img.full(src='images/home-research-header.png' style='margin-bottom: -10px;')
  .background-sand.full-width-bg  
    .primary-container
      +article(
      'https://www.cs.cmu.edu/~ylataus/files/TausczikPennebaker2010.pdf',
      'Journal of Language and Social Psychology', 
      'The Psychological Meaning of Words: LIWC and Computerized Text Analysis Methods', 
      'Yla R. Tausczik and James W. Pennebaker', 
      'This paper explains Linguistic Inquiry and Word Count, a text analysis program that counts words in psychologically meaningful categories. LIWC can detect attentional focus, emotionality, social relationships, thinking styles, and individual differences.'
      )

      +article(
      'https://www.ncbi.nlm.nih.gov/pubmed/28364281',
      'Behavior Research Methods Journal', 
      'Distributed Dictionary Representation: Combining expert knowledge and large scale textual data content analysis', 
      'by J. Garten, J. Hoover, K.M. Johnson, R. Boghrati, C. Iskiwitch, and M. Dehghani', 
      'This paper introduces DDR, a text analysis method that uses semantic similarity instead of word count like LIWC. DDR is able to measure similarity between bodies of text, and is a complementary to word count methods.'
      )

      +article(
      'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC122977/',
      'Proceedings of the National Academy of Sciences of the United States of America', 
      'Community structure in social and biological networks', 
      'by M. Girvan and M.E.J. Newman', 
      'This paper details a method to detect community structures made up of “nodes” or individuals joined either in tightly knit groups or by looser connections.'
      )      

  .primary-container
    .seller.centered
      h1.hero Understand your people.
      h4 Skipper is in the early stages of development, and we’re happy to partner with you for our beta test. You’ll help guide the direction of this people management tool and gain helpful insights on your team. 
      br
      br
      a.button(href='beta.html') Request beta access

          

 
