extends layout

block content
  .primary-container-hero
    .hero-card
      .hero-text
        h1.hero.white Measure engagement instantly.
        h4.hero.white Skipper shows people operations teams how they can maximize engagement, productivity, and wellbeing for their company.
        a.hero-button(href='beta.html') Request Demo
      .hero-image
        img.flex(src=imgpath + 'home-hero.png')

  .background-dark-blue.full-width-bg
    .primary-container#features
      .container
        .row.moat
          .centered.child-width.display-hide
              img.medium(src=imgpath + "home-features-1.png")
          .col-md-6
            .feature-text
              h1.white See how management decisions, policy changes, and benefits affect employee engagement.
          .col-md-6
            .centered.child-width.float-right
              img.medium(src=imgpath + "home-features-1.png")
        
        .row.moat
          .col-md-6
            .centered.child-width.float-left
              img.medium(src=imgpath + "home-features-2.png")
          .col-md-6
            .feature-text
              h1.white Learn which groups within your company are disengaging, and see advice on how to re-engage them.

        .row.moat
          .centered.child-width.display-hide
              img.medium(src=imgpath + "home-features-3.png")
          .col-md-6
            .feature-text
              h1.white Generate reports automatically so the executive team can get a pulse on how employees are doing as often as they like.
          .col-md-6
            .centered.child-width.float-right
              img.medium(src=imgpath + "home-features-3.png")

        .row.moat
          .col-md-6
            .centered.child-width.float-left
              img.small(src=imgpath + "home-features-4.png")
          .col-md-6
            .feature-text
              h1.white Set goals for new HR and people operations initiatives so you can measure how effective they are in your own terms.

  .primary-container
    .seller.centered
      br
      br
      br
      .row.moat
        .col-md-6
          h1.hero How it works
          h4 Skipper pulls data from platforms like Slack, Asana, Salesforce, GitHub, and more to track engagement. To get even more detailed insights, Skipper lets you easily send out pulse surveys to specific groups of employees who you want to hear from.
          
        .col-md-6
          img.medium(src=imgpath + "home-features-3.png")
      br

  .background-blue.full-width-bg.no-bottom-margin#getstarted
    .primary-container
      .seller.centered
        h1.hero.white.bigger Get Started
        h4.white.bigger Let our team of people analytics experts show you how you can increase employee engagement in your company.
        br
        br
        br
        br
        a.hero-button(href='beta.html') Request Demo
        br
      
  .background-dark-blue.full-width-bg.no-top-margin#research
    .primary-container(style="max-width: 750px;")
      h1.research-txt.white Results, anchored in research.
      h4.research-txt.white.narrow Our product builds on years of research done at world class institutions like Stanford, USC, Google, and more. We’ve included some of the foundational papers informing our findings below.
    img.full(src='images/home-research-header.png' style='margin-bottom: -10px;')
  .background-sand.full-width-bg.no-bottom-margin
    .primary-container
      +article(
      'https://www.cs.cmu.edu/~ylataus/files/TausczikPennebaker2010.pdf',
      'Journal of Language and Social Psychology', 
      'The Psychological Meaning of Words: LIWC and Computerized Text Analysis Methods', 
      'Yla R. Tausczik and James W. Pennebaker', 
      'This paper explains Linguistic Inquiry and Word Count, a text analysis program that counts words in psychologically meaningful categories. LIWC can detect attentional focus, emotionality, social relationships, thinking styles, and individual differences.'
      )

      +article(
      'https://www.ncbi.nlm.nih.gov/pubmed/28364281',
      'Behavior Research Methods Journal', 
      'Distributed Dictionary Representation: Combining expert knowledge and large scale textual data content analysis', 
      'by J. Garten, J. Hoover, K.M. Johnson, R. Boghrati, C. Iskiwitch, and M. Dehghani', 
      'This paper introduces DDR, a text analysis method that uses semantic similarity instead of word count like LIWC. DDR is able to measure similarity between bodies of text, and is complementary to word count methods.'
      )

      +article(
      'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC122977/',
      'Proceedings of the National Academy of Sciences of the United States of America', 
      'Community structure in social and biological networks', 
      'by M. Girvan and M.E.J. Newman', 
      'This paper details a method to detect community structures made up of “nodes” or individuals joined either in tightly knit groups or by looser connections.'
      )      



          

 
